{% extends 'base_layout.html' %}
{% load static from staticfiles %}
{%block content2%}
              <a href="" class = "brand-logo">{{ a_student.S_id }}</a>
{% endblock %}
{% block content3 %}
<li><a href="{% url 'logout' %}" class ="btn amber lighten-1 waves-effect">Logout</a></li>
{% endblock %}
{% block content4 %}
<a href="#name"><span class=" name black-text">{{ a_student.S_name }}</span></a>
<a href="#name"><span class=" name black-text">{{ a_student.S_email }}</span></a>
{% endblock %}
{% block content5%}
<li><a href="{% url 'logout' %}" class="waves-effect btn blue" >Logout</a></li>
{% endblock %}
{%block content%}
          <div class="container">
            <h3 class="center">Welcome {{ a_student.S_name }}</h3>
              <div class="row">

                <a href="courses/{{ a_student.slug }}">
                  <div class="col s12 l4">
                    <div class="card hoverable grey lighten-1">
                      <div class="card-image">
                        <img src="{% static 'Student/courses.jpg' %}" alt="">
                        <a href="" class="halfway-fab btn-floating red darken-1 pulse ">
                            <i class="material-icons ">format_align_center</i>
                        </a>
                      </div>
                        <div class="card-content">
                          <p class="center">
                                <h5 class="">My Courses</h5>
                          </p>
                        </div>
                  </div>
                  </div>
                </a>


                <a href="{% url 'student_grades' %}">
                  <div class="col s12 l4">
                    <div class="card hoverable grey lighten-1">
                      <div class="card-image">
                        <img src="{% static 'Student/gradesheet.jpg' %}" alt="">
                        <a href="" class="halfway-fab btn-floating red darken-1 pulse ">
                            <i class="material-icons ">format_align_center</i>
                        </a>
                      </div>
                        <div class="card-content">
                          <p class="center">
                                <h5 class="">Grade Sheet</h5>
                          </p>
                        </div>
                  </div>
                  </div>
                </a>
              </div>
          </div>

{% endblock %}
